/*------------------------------------
- https://lingtalfi.com/bootstrap4-color-generator
- Source Color: #0d4183
------------------------------------*/

/*------------------------------------
- COLOR primary
------------------------------------*/
.alert-primary {
  color: #010913;
  background-color: #6ba6f0;
  border-color: #599aee;
}

.alert-primary hr {
  border-top-color: #418cec;
}

.alert-primary .alert-link {
  color: #000000;
}

.badge-primary {
  color: #fff;
  background-color: #0d4183;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
  color: #fff;
  background-color: #082954;
}

.bg-primary {
  background-color: #0d4183 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #082954 !important;
}

.border-primary {
  border-color: #0d4183 !important;
}

.btn-primary {
  color: #fff;
  background-color: #0d4183;
  border-color: #0d4183;
}

.btn-primary:hover {
  color: #fff;
  background-color: #093062;
  border-color: #082954;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(13, 65, 131, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #0d4183;
  border-color: #0d4183;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #082954;
  border-color: #072346;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(13, 65, 131, 0.5);
}

.btn-outline-primary {
  color: #0d4183;
  background-color: transparent;
  border-color: #0d4183;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #0d4183;
  border-color: #0d4183;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(13, 65, 131, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #0d4183;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #0d4183;
  border-color: #0d4183;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(13, 65, 131, 0.5);
}

.list-group-item-primary {
  color: #010913;
  background-color: #599aee;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
  color: #010913;
  background-color: #418cec;
}

.list-group-item-primary.list-group-item-action.active {
  color: #fff;
  background-color: #010913;
  border-color: #010913;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #599aee;
}

.table-hover .table-primary:hover {
  background-color: #418cec;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #418cec;
}

.text-primary {
  color: #0d4183 !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #082954 !important;
}
